<?xml version="1.0"?>
<config>
    <modules>
        <Eke_Staticblock>
            <version>0.1.0</version>
        </Eke_Staticblock>
    </modules>
    <global>
        <models>
            <eke_staticblock>
                <class>Eke_Staticblock_Model</class>
                <resourceModel>eke_staticblock_resource</resourceModel>
            </eke_staticblock>
            <eke_staticblock_resource>
                <class>Eke_Staticblock_Model_Resource</class>
            </eke_staticblock_resource>
        </models>
        <blocks>
            <eke_staticblock>
                <class>Eke_Staticblock_Block</class>
            </eke_staticblock>
			 <adminhtml>
                <rewrite>
                    <cms_page_grid>Eke_Staticblock_Block_Adminhtml_Cms_Page_Grid</cms_page_grid>
					<cms_block_grid>Eke_Staticblock_Block_Adminhtml_Cms_Block_Grid</cms_block_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <eke_staticblock>
                <class>Eke_Staticblock_Helper</class>
            </eke_staticblock>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <eke_staticblock>
                    <file>eke_staticblock.xml</file>
                </eke_staticblock>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <eke_staticblock>
            <static>
                <enabled>0</enabled>
            </static>
        </eke_staticblock>
    </default>
</config>